#project-2-cols-text-image {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(1rem, 4vw, 3rem);

	&.reverse {
		flex-direction: row-reverse;
	}

	.text-container {
		padding-top: var(--spacing-48);
		flex: min(30%, 15rem);
		display: flex;
		flex-direction: column;
		gap: clamp(10px, 2vw, var(--spacing-16));
	}

	.image-container {
		position: relative;
		flex: 70%;
		aspect-ratio: 16 / 9;
		overflow: hidden;
		border-radius: clamp(var(--radius-md), 3vw, var(--radius-xxl));
	}
}
