#default-card {
	display: flex;
	flex-direction: column;
	background: var(--default-card-bg);
	color: var(--secondary-text-color);
	padding: var(--spacing-32);
	font-size: larger;

	#card-badge {
		margin-inline: auto;
	}
}
