.grid-layout {
	min-height: 100vh;
	margin-top: var(--spacing-128);
	padding-bottom: var(--spacing-32);
	display: grid;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 20.5rem);
	gap: var(--spacing-18);
}
