#project-2-cols-text {
	text-wrap: balance;
	color: #fff;

	.content-wrapper {
		width: 60rem;
		margin-inline: auto;
		display: flex;
		gap: 4rem;
	}

	.paragraph-container {
		display: grid;
		gap: 1rem;
		flex: 1;
	}
}
