#project-tech-stack-container {
	width: 80vw;
	margin-inline: auto;
	display: grid;
	gap: var(--spacing-12);

	p {
		font: var(--font-headline-md);
	}

	.techs {
		display: flex;
		gap: var(--spacing-10);
		align-items: center;
		flex-wrap: wrap;

		.tech-badge {
			svg {
				height: 1.3rem;
				aspect-ratio: 1;
			}
		}
	}
}
