#music-card-conatiner {
	width: 100%;
	aspect-ratio: 1;
	background: #fff;
	border-radius: var(--radius-xxl);
	padding: 10px;

	.music-background {
		padding: var(--spacing-14);
		overflow: hidden;
		--bg: #e7e3db;
		width: 100%;
		height: 100%;
		position: relative;
		background: var(--bg);
		border-radius: 38px;

		.description {
			display: grid;
			padding-inline: 7px;
			padding-top: 5px;

			p {
				font: var(--font-label-lg);
				font-weight: 500;

				color: #242424;
			}
			small {
				font: var(--font-body-lg);
				font-weight: 500;
				color: #242424;
				span {
					color: #646464;
				}
			}
		}

		.cd-cover {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -35%;
			width: 22rem;
			aspect-ratio: 1;
			border-radius: var(--radius-rounded);
			background-image: url("/images/music-cover.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-mask: radial-gradient(transparent 50px, black 50px);
			mask: radial-gradient(transparent 50px, black 50px);
			transform-origin: center;
			animation: rotate 15s linear infinite;
		}
	}
}

@keyframes rotate {
	from {
		transform: translateX(-50%) rotate(0deg);
	}
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}
