#name-container {
	margin-top: 15rem;
	width: fit-content;
	margin-inline: auto;
	display: flex;
	user-select: none;
	justify-content: center;

	h1 {
		font-size: 6rem;
		text-transform: uppercase;
	}
}
