/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
		interpolate-size: allow-keywords;
	}
}

body {
	color: var(--primary-text-color);
	background-color: var(--bg-primary);
	height: 100vh;
	min-height: 100vh;
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

.container {
	width: 100%;
	margin-inline: auto;
}

/* Small screens and up (640px+) */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* Medium screens and up (768px+) */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* Large screens and up (1024px+) */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

/* Extra large screens and up (1280px+) */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

/* 2X large screens and up (1536px+) */
@media (min-width: 1536px) {
	.container {
		max-width: 1420px;
	}
}

/* Utility classes for more flexibility */
.col-span-1 {
	grid-column: span 1;
}
.col-span-2 {
	grid-column: span 2;
}
.col-span-3 {
	grid-column: span 3;
}
.col-span-4 {
	grid-column: span 4;
}

.row-span-1 {
	grid-row: span 1;
}
.row-span-2 {
	grid-row: span 2;
}
.row-span-3 {
	grid-row: span 3;
}
