#badge {
	width: fit-content;
	height: var(--spacing-40);
	max-height: var(--spacing-44);
	border-radius: var(--radius-rounded);
	background: var(--badge-bg);
	padding-inline: var(--spacing-20);
	color: var(--secondary-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	flex-shrink: 0;
	font-weight: 600;
	user-select: none;
}
