#badge {
	width: fit-content;
	height: var(--spacing-44);
	max-height: var(--spacing-44);
	border-radius: var(--radius-rounded);
	background: var(--badge-bg);
	padding-inline: var(--spacing-20);
	color: var(--secondary-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font: var(--font-body-lg);
	font-weight: 500;
	user-select: none;
}
