#project-2-cols-image {
	width: 90vw;
	display: flex;
	gap: 1rem;
	margin-inline: auto;

	> div {
		border-radius: var(--radius-xxl);
		overflow: hidden;
		height: 95vh;
		position: relative;
		flex: 1;
	}
}
