#project-images {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	margin-inline: auto;

	> div {
		aspect-ratio: 1;
		height: 90vh;
		border-radius: var(--radius-xxl);
		overflow: hidden;
		position: relative;
	}

	&.directionColumn {
		> div {
			flex-direction: column;
			width: 100%;
			aspect-ratio: 16 / 9;
		}
	}
}
