#project-images {
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	margin-inline: auto;

	> figure {
		aspect-ratio: 1;
		height: 90vh;
		border-radius: var(--radius-xxl);
		overflow: hidden;
		position: relative;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.directionColumn {
		> figure {
			flex-direction: column;
			width: 100%;
			aspect-ratio: 16 / 9;
		}
	}
}
