#conversation-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-10);
	max-height: 50vh;
	overflow-y: auto;
	padding-inline: 10px;
	max-width: 510px;

	.chat-message {
		font-size: 14px;
		max-width: 90%;
		border-radius: var(--radius-sm);
		padding: var(--spacing-10) var(--spacing-12);
	}

	.user-message {
		align-self: flex-end;
		background: #ffffffb8;
	}

	.ai-message {
		align-self: flex-start;
		background: #d7d7d747;
	}
}
