#conversation-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-10);
	max-height: 50vh;
	overflow-y: auto;
	padding-inline: 10px;
	width: 510px;

	.chat-message {
		font-size: 14px;
		max-width: 90%;
		border-radius: var(--radius-sm);
		padding: var(--spacing-10) var(--spacing-12);
	}

	.user-message {
		align-self: flex-end;
		background: #ffffffb8;
	}

	.ai-message {
		align-self: flex-start;
		background: #d7d7d747;

		&.loader {
			width: 20px;
			aspect-ratio: 2;
			--_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
			background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
			background-size: calc(100% / 3) 50%;
			animation: l3 1s infinite linear;
		}
	}
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}
