#project-list-live {
	position: relative;

	.project-live-circle {
		width: var(--spacing-4);
		aspect-ratio: 1;
		background: red;
		position: absolute;
		top: 0;
		border-radius: var(--radius-rounded);
		animation: pulseLive 1s infinite;
		animation-timing-function: linear;
	}
}

#projects-list-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	> article {
		overflow: hidden;
		flex-shrink: 0;
		padding: var(--spacing-32);
		height: 400px;
		width: 280px;
		margin-inline: -40px;
		transform: rotate(var(--project-banner-rotate));
		border-radius: var(--radius-xl-inc);
		transition: transform var(--transition-standard-fast-spatial);
		box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.1), 0 .5rem 1rem 0
			rgba(0, 0, 0, 0.1);

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			margin: -10px;
			background: linear-gradient(
				to top,
				rgba(0, 0, 0, 0.3) 0%,
				rgba(0, 0, 0, 0) 40%
			);
			pointer-events: none;
			z-index: 1;
		}

		a {
			height: 100%;
			display: flex;
			align-items: end;
			text-decoration: none;
		}

		h1 {
			position: relative;
			z-index: 99;
			color: var(--primary-text-color);
			font: var(--font-display-sm);
			scale: 0.8;
			opacity: 0;
			visibility: hidden;
			transition: var(--transition-standard-fast-effects);
		}

		&:hover {
			transform: rotate(0) scale(1.05);
			position: relative;
			z-index: 99;

			h1 {
				scale: 1;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@keyframes pulseLive {
	0%,
	80% {
		scale: 0;
		opacity: 0;
	}
	20%,
	40% {
		scale: 1;
		opacity: 1;
	}
}
