#project-images {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;

	> figure {
		flex: 1;
		aspect-ratio: 1;
		border-radius: clamp(var(--radius-md), 3vw, var(--radius-xxl));
		overflow: hidden;
		position: relative;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.directionColumn {
		> figure {
			flex-direction: column;
			flex: 100%;
			aspect-ratio: 16 / 9;
		}
	}
}
