#project-details-elements {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	padding-block: 7rem;
}

#project-close-button {
	position: fixed;
	top: 2rem;
	left: 2rem;
	width: 3.5rem;
	z-index: 1;
	aspect-ratio: 1;
	border-radius: var(--radius-rounded);
	background: #ffffff47;
	backdrop-filter: blur(8px);
	text-decoration: none;
	mix-blend-mode: difference;

	display: grid;
	place-content: center;

	svg {
		color: var(--primary-text-color);
	}
}
