#project-details-container {
	position: relative;
	user-select: none;

	.footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-28);
		padding-bottom: var(--spacing-128);

		.see-more {
			color: var(--primary-text-color);
			text-decoration: none;
			font-size: var(--font-body-sm);
			font-weight: 500;
			background: #ffffff47;
			border-radius: var(--radius-rounded);
			padding: var(--spacing-12) var(--spacing-36);
		}

		.more-projects {
			height: 39rem;
		}
	}
}

#project-details-elements {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	padding-block: 7rem;
}

#project-close-button {
	position: fixed;
	top: 2rem;
	left: 2rem;
	width: 3.5rem;
	z-index: 1;
	aspect-ratio: 1;
	border-radius: var(--radius-rounded);
	background: #ffffff47;
	backdrop-filter: blur(8px);
	text-decoration: none;
	mix-blend-mode: difference;

	display: grid;
	place-content: center;
	transition: var(--transition-standard-default-effects);

	svg {
		color: var(--primary-text-color);
	}

	&:hover {
		background: #ffffff87;
	}
}
