#project-details-container {
	background: #000;
	width: 100%;
	user-select: none;

	.footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-28);
		padding-bottom: var(--spacing-128);

		.see-more {
			color: var(--primary-text-color);
			text-decoration: none;
			font-size: var(--font-body-sm);
			font-weight: 500;
			background: #ffffff47;
			border-radius: var(--radius-rounded);
			padding: var(--spacing-12) var(--spacing-36);
		}

		.more-projects {
			width: 100%;
			padding-inline: 1rem;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: var(--spacing-24);

			> * {
				flex: min(50%, 20rem);
				aspect-ratio: 1;
				max-width: 40rem;

				@media (max-width: 1024px) {
					height: 40rem;
					aspect-ratio: unset;
				}
			}
		}
	}
}

#project-details-elements {
	display: flex;
	flex-direction: column;
	gap: clamp(1rem, 4vw, 7rem);
	padding-block: 7rem;
	padding-inline: 1rem;

	h3 {
		font-size: clamp(16px, 5vw, 30px);
		font-weight: 700;
	}

	p {
		font-size: clamp(14px, 3vw, 20px);
		font-weight: 600;
	}
}

#project-close-button {
	position: fixed;
	top: 2rem;
	left: 2rem;
	width: 3.5rem;
	z-index: 9999;
	aspect-ratio: 1;
	border-radius: var(--radius-rounded);
	background: #ffffff47;
	backdrop-filter: blur(8px);
	text-decoration: none;
	mix-blend-mode: difference;

	display: grid;
	place-content: center;
	transition: var(--transition-standard-default-effects);

	svg {
		color: var(--primary-text-color);
	}

	&:hover {
		background: #ffffff87;
	}
}
