#about-page-container {
	--container-width: 500px;
	position: relative;
	width: var(--container-width);
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: var(--spacing-56);
	padding-bottom: var(--spacing-128);
	padding-inline: var(--spacing-20);
	gap: var(--spacing-96);
	color: #000;

	.logo {
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		margin-inline: auto;
	}

	.sections-container {
		--card-bg: #ffffff96;
		--card-bg-hover: #f5f5f5;
		--card-border-color: #cececece;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-36);

		.headline {
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			line-height: 1.2;
		}

		.my-picture {
			margin-inline: auto;
			width: 280px;
			height: 400px;
			border: var(--spacing-10) solid #fff;
			position: relative;
			box-shadow: 0 0 var(--spacing-20) 0 #00000014;
			transform: rotate(-3deg);
		}

		.online {
			.socials-container {
				display: flex;
				flex-wrap: wrap;
				gap: var(--spacing-10);

				.social-wrapper {
					flex: min(100px, 50%);
					padding: var(--spacing-10);
					border: 1px solid var(--card-border-color);
					background: var(--card-bg);
					height: 5rem;
					display: flex;
					gap: var(--spacing-10);
					align-items: center;
					text-decoration: none;
					border-radius: var(--radius-sm);
					transition: var(--transition-expressive-slow-spatial);

					.__details {
						flex: 1;
						h4 {
							color: #000;
						}
						p {
							color: #71717b;
						}
					}

					.__logo {
						width: 3rem;
						aspect-ratio: 1;
					}

					& :last-child {
						color: #71717b;
					}

					&:hover {
						background: var(--card-bg-hover);
					}
				}
			}
		}

		.stack-container {
			padding: var(--spacing-14);
			background: var(--card-bg);
			background-image: radial-gradient(
				circle at 1px 1px,
				rgba(0, 0, 0, 0.1) 1px,
				transparent 0
			);
			background-size: 10px 10px;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
			gap: var(--spacing-12);

			.icon {
				aspect-ratio: 1;
			}
		}

		.certifications .-container {
			display: grid;
			border-radius: var(--radius-md);
			overflow: hidden;
			border: 1px solid var(--card-border-color);

			> a {
				display: flex;
				align-items: center;
				gap: var(--spacing-20);
				background: var(--card-bg);
				padding-block: .5rem;
				padding-inline: 1rem;
				text-decoration: none;
				color: inherit;

				&:not(:last-child) {
					border-bottom: 1px solid var(--card-border-color);
				}

				&:hover {
					background: var(--card-bg-hover);
				}

				.__image {
					position: relative;
					width: 2.5rem;
					aspect-ratio: 1;
				}

				.__details {
					flex: 1;

					> div {
						display: flex;
						align-items: center;
						color: #71717b;
						gap: var(--spacing-10);

						hr {
							display: block;
							height: 15px;
							width: 1px;
							border: 0;
							background: var(--card-border-color);
						}
					}
				}

				svg {
					color: #71717b;
				}
			}
		}
	}

	.__item {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-10);
	}
}
