/* Small screens and up (640px+) */
@media (min-width: 640px) {
	#works-grid-layout {
		max-width: var(--container-sm);
		padding-inline: var(--padding-sm);
		grid-template-columns: repeat(
				var(--grid-items-sm),
				var(--grid-item-size-sm)
			);
		grid-template-rows: repeat(7, var(--grid-item-size-sm));

		& > :nth-child(1) {
			grid-area: 1 / 1 / 1 / 3;
		}

		& > :nth-child(2) {
			grid-area: 2 / 1 / 3 / 3;
		}

		& > :nth-child(3) {
			grid-area: 3 / 1 / 4 / 2;
		}

		& > :nth-child(4) {
			grid-area: 3 / 2 / 4 / 3;
		}

		& > :nth-child(5) {
			grid-area: 4 / 1 / 5 / 3;
		}

		& > :nth-child(6) {
			grid-area: 5 / 1 / 6 / 2;
		}

		& > :nth-child(7) {
			grid-area: 5 / 2 / 6 / 3;
		}

		& > :nth-child(8) {
			grid-area: 6 / 1 / 8 / 3;
		}
	}
}

/* Medium screens and up (768px+) */
@media (min-width: 768px) {
	#works-grid-layout {
		max-width: var(--container-md);
		padding-inline: var(--padding-md);
		grid-template-columns: repeat(
				var(--grid-items-sm),
				var(--grid-item-size-md)
			);
		grid-template-rows: repeat(7, var(--grid-item-size-md));
	}
}

/* Large screens and up (1024px+) */
@media (min-width: 1024px) {
	#works-grid-layout {
		max-width: var(--container-lg);
		padding-inline: var(--padding-lg);
		grid-template-columns: repeat(
				var(--grid-items-lg),
				var(--grid-item-size-lg)
			);
		grid-template-rows: repeat(var(--grid-items-lg), var(--grid-item-size-lg));

		& > :nth-child(1) {
			grid-area: 1 / 1 / 6 / 7;
		}

		& > :nth-child(2) {
			grid-area: 1 / 7 / 6 / 13;
		}

		& > :nth-child(3) {
			grid-area: 6 / 1 / 10 / 5;
		}

		& > :nth-child(4) {
			grid-area: 6 / 5 / 10 / 9;
		}

		& > :nth-child(5) {
			grid-area: 10 / 5 / 14 / 13;
		}

		& > :nth-child(6) {
			grid-area: 6 / 9 / 10 / 13;
		}

		& > :nth-child(7) {
			grid-area: 10 / 1 / 14 / 5;
		}

		& > :nth-child(8) {
			grid-area: 14 / 1 / 22 / 13;
		}
	}
}

/* Extra large screens and up (1480px+) */
@media (min-width: 1480px) {
	#works-grid-layout {
		max-width: var(--container-xl);
		padding-inline: var(--padding-xl);
		grid-template-columns: repeat(
				var(--grid-items-xl),
				var(--grid-item-size-xl)
			);
		grid-template-rows: repeat(
				calc(var(--grid-items-xl) + 2),
				var(--grid-item-size-xl)
			);

		& > :nth-child(1) {
			grid-area: 1 / 1 / 4 / 7;
		}

		& > :nth-child(2) {
			grid-area: 1 / 7 / 7 / 13;
		}

		& > :nth-child(3) {
			grid-area: 4 / 1 / 7 / 4;
		}

		& > :nth-child(4) {
			grid-area: 4 / 4 / 7 / 7;
		}

		& > :nth-child(5) {
			grid-area: 7 / 1 / 10 / 7;
		}

		& > :nth-child(6) {
			grid-area: 7 / 7 / 10 / 10;
		}

		& > :nth-child(7) {
			grid-area: 7 / 10 / 10 / 13;
		}

		& > :nth-child(8) {
			grid-area: 10 / 1 / 15 / 13;
		}
	}
}
