#works-page-container {
	background: linear-gradient(180deg, #f0f2f5 0%, #ffffff 100%) no-repeat;
	display: flex;
	flex-direction: column;
	color: #000;
	padding-top: var(--spacing-56);
	padding-bottom: var(--spacing-128);
	padding-inline: var(--spacing-20);
	width: 100%;
	min-height: 100%;

	.logo {
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		margin-inline: auto;
	}

	.headlines,
	.description {
		text-align: center;
	}

	.headlines {
		margin-top: 7rem;

		h1 {
			font-size: clamp(2rem, 6vw, 4rem);
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: var(--spacing-8);
		}
	}

	.cta {
		margin-top: var(--spacing-56);
		margin-bottom: var(--spacing-128);
		margin-inline: auto;
		width: 10rem;
		height: 2rem;
		border-radius: var(--radius-rounded);
		background: #fff;
		border: 1px solid #cecece;
	}

	.projects-container {
		width: 80vw;
		margin-inline: auto;
		display: grid;
		grid-template-columns: repeat(
				auto-fit,
				minmax(clamp(150px, 80vw, 350px), 1fr)
			);
		gap: var(--spacing-20);

		> * {
			aspect-ratio: 1;
		}
	}
}
