#works-page-container {
	display: flex;
	flex-direction: column;
	color: #000;
	padding-top: var(--spacing-56);
	padding-bottom: var(--spacing-128);
	padding-inline: var(--spacing-20);
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;

	.headlines,
	> .description {
		text-align: center;
	}

	.headlines {
		margin-top: 7rem;

		h1 {
			font-size: clamp(2.2rem, 6vw, 4rem);
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: var(--spacing-8);
		}
	}

	.description {
		b {
			cursor: pointer;
		}
	}

	.projects-container {
		width: 80vw;
		margin-inline: auto;
		margin-bottom: var(--spacing-128);
		display: grid;
		grid-template-columns: repeat(
				auto-fit,
				minmax(clamp(150px, 80vw, 350px), 1fr)
			);
		gap: var(--spacing-20);

		> * {
			aspect-ratio: 1;
		}

		@media (max-width: 768px) {
			grid-auto-rows: 550px;

			> * {
				height: 100%;
				aspect-ratio: unset;
			}
		}
	}
}

@keyframes ping {
	75%,
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
