#project-card {
	--badgeColor: var(--black-20);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding: var(--spacing-18);
	border-radius: var(--radius-xxl);
	user-select: none;

	&:hover figure {
		height: 60%;
		margin: var(--spacing-18);
	}

	&:hover header .description {
		opacity: 1;
		transform: translateX(0);
		pointer-events: auto;
	}

	&:hover header .icon {
		scale: 0.8;
	}
}

#project-card-link {
	text-decoration: none;
	text-decoration-line: none;
	color: inherit;
	display: block;
	height: 100%;

	header {
		z-index: 99;
		color: #fff;
		position: absolute;
		top: var(--spacing-24);
		right: var(--spacing-24);
		display: flex;
		align-items: center;
		gap: var(--spacing-14);

		.description {
			font-weight: 500;
			padding-inline: var(--spacing-20);
			padding-block: var(--spacing-6);
			background: var(--badgeColor);
			border-radius: 100vmin;
			opacity: 0;
			transform: translateX(-15px);
			transition: var(--transition-standard-default-spatial);
			color: inherit;
			pointer-events: none;
		}

		.icon {
			display: grid;
			place-content: center;
			background: var(--badgeColor);
			border-radius: var(--radius-rounded);
			width: 3rem;
			height: 3rem;
			transition: var(--transition-standard-default-spatial);
		}
	}

	figure {
		z-index: 95;
		position: absolute;
		inset: 0;
		height: 100%;
		transition: var(--transition-standard-slow-spatial);

		img {
			border-radius: var(--spacing-32);
			position: absolute;
			object-fit: cover;
			-o-object-fit: cover;
		}
	}

	section {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 2rem;
		height: 100%;

		span {
			flex: calc(60% + (var(--spacing-18) * 2));
		}

		div {
			flex: 35%;

			h2 {
				font-size: clamp(1.5rem, 8cqi, 3rem);
			}

			p {
				font-size: clamp(1rem, 3cqi, 1.2rem);
			}
		}
	}
}

@media (max-width: 768px) {
	#project-card figure {
		height: 60%;
		margin: var(--spacing-18);
	}

	#project-card header .description {
		opacity: 1;
		transform: translateX(0);
		pointer-events: auto;
	}
}
