#default-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-32);
	background-color: var(--default-card-bg);
	color: var(--secondary-text-color);
	padding: var(--spacing-32);
	font-size: larger;
	overflow: hidden;

	#card-badge {
		position: relative;
		margin-top: var(--spacing-10);
		margin-inline: auto;
	}

	&:has(#card-badge) {
		padding-inline: var(--spacing-32);
		padding-block: 0;
		padding-bottom: var(--spacing-32);
	}
}
