.social-account-grid {
	width: 100%;
	aspect-ratio: 1;
}
#social-account-container {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 1.5rem;

	> div {
		width: 3.5rem;
		aspect-ratio: 1;
	}
}
